In [1]:
import pandas as pd

In [2]:
school_data_to_load = "..\Resources\schools_complete.csv"
student_data_to_load = "..\Resources\students_complete.csv"
school_data_complete= pd.read_csv(school_data_to_load)
student_data_complete= pd.read_csv(student_data_to_load)
school_data_complete = pd.merge(student_data_complete, school_data_complete, how="left", on=["school_name", "school_name"])
school_data_complete.head()

,Student ID,student_name,gender,year,school_name,reading_score,maths_score,School ID,type,size,budget
0,0,Paul Bradley,M,9,Huang High School,96,94,0,Government,2917,1910635
1,1,Victor Smith,M,12,Huang High School,90,43,0,Government,2917,1910635
2,2,Kevin Rodriguez,M,12,Huang High School,41,76,0,Government,2917,1910635
3,3,Richard Scott,M,12,Huang High School,89,86,0,Government,2917,1910635
4,4,Bonnie Ray,F,9,Huang High School,87,69,0,Government,2917,1910635

In [3]:
total_schools = school_data_complete["school_name"].unique()
total_sch = len(total_schools)
total_sch

15

In [4]:
total_students = school_data_complete["student_name"]
total_stu = len(total_students)
total_stu

39170

In [5]:
total_budget = sum(school_data_complete["budget"].unique())
total_budget

24649428

In [6]:
avg_budgetperstudent = total_budget/total_stu
avg_budgetperstudent

629.2935409752362

In [7]:
avg_maths_score = sum(school_data_complete["maths_score"])/len(school_data_complete["maths_score"])
avg_maths_score

70.33819249425581

In [8]:
avg_reading_score = sum(school_data_complete["reading_score"])/len(school_data_complete["reading_score"])
avg_reading_score

69.98013786060761

In [9]:
overall_passing_score = (avg_maths_score + avg_reading_score)/2
overall_passing_score

70.1591651774317

In [10]:
passing_maths_percentage = (school_data_complete[school_data_complete['maths_score']>=50]['student_name'].count())/total_stu*100
passing_maths_percentage

86.07863160582077

In [11]:
passing_reading_percentage = (school_data_complete[school_data_complete['reading_score']>=50]['student_name'].count())/total_stu*100
passing_reading_percentage

84.42685728874139

In [12]:
overall_passing = school_data_complete[(school_data_complete['maths_score'] >= 50) & (school_data_complete['reading_score']>=50)] 
overall_passing_count = overall_passing['student_name'].count()
overall_passing_percentage = overall_passing_count / len(total_students) * 100

In [13]:
district_summary_df = pd.DataFrame({
    "Total Schools": total_sch,
    "Total Students": total_stu,
    "Total Budget":'${:,.2f}'.format(total_budget),
    "Average Maths score": avg_maths_score,
    "Average Reading score": avg_reading_score,
    "Passing Maths Percentage": passing_maths_percentage,
    "Passing Reading Percentage": passing_reading_percentage,
    "Overall Passing Percentage": overall_passing_percentage
    }, index=[0])
district_summary_df

,Total Schools,Total Students,Total Budget,Average Maths score,Average Reading score,Passing Maths Percentage,Passing Reading Percentage,Overall Passing Percentage
0,15,39170,"$24,649,428.00",70.338192,69.980138,86.078632,84.426857,72.808272

In [14]:
grouped_school = school_data_complete.groupby(['school_name'])
total_student_by_school = grouped_school.size()
total_student_by_school

school_name
Bailey High School       4976
Cabrera High School      1858
Figueroa High School     2949
Ford High School         2739
Griffin High School      1468
Hernandez High School    4635
Holden High School        427
Huang High School        2917
Johnson High School      4761
Pena High School          962
Rodriguez High School    3999
Shelton High School      1761
Thomas High School       1635
Wilson High School       2283
Wright High School       1800
dtype: int64

In [15]:
school_type = grouped_school['type'].first()
school_type

school_name
Bailey High School        Government
Cabrera High School      Independent
Figueroa High School      Government
Ford High School          Government
Griffin High School      Independent
Hernandez High School     Government
Holden High School       Independent
Huang High School         Government
Johnson High School       Government
Pena High School         Independent
Rodriguez High School     Government
Shelton High School      Independent
Thomas High School       Independent
Wilson High School       Independent
Wright High School       Independent
Name: type, dtype: object

In [16]:
total_budget = grouped_school['budget'].first()
total_budget

school_name
Bailey High School       3124928
Cabrera High School      1081356
Figueroa High School     1884411
Ford High School         1763916
Griffin High School       917500
Hernandez High School    3022020
Holden High School        248087
Huang High School        1910635
Johnson High School      3094650
Pena High School          585858
Rodriguez High School    2547363
Shelton High School      1056600
Thomas High School       1043130
Wilson High School       1319574
Wright High School       1049400
Name: budget, dtype: int64

In [17]:
total_budget_per_student = total_budget/total_student_by_school
total_budget_per_student

school_name
Bailey High School       628.0
Cabrera High School      582.0
Figueroa High School     639.0
Ford High School         644.0
Griffin High School      625.0
Hernandez High School    652.0
Holden High School       581.0
Huang High School        655.0
Johnson High School      650.0
Pena High School         609.0
Rodriguez High School    637.0
Shelton High School      600.0
Thomas High School       638.0
Wilson High School       578.0
Wright High School       583.0
dtype: float64

In [18]:
avg_maths_by_school=grouped_school["maths_score"].mean()
avg_maths_by_school

school_name
Bailey High School       72.352894
Cabrera High School      71.657158
Figueroa High School     68.698542
Ford High School         69.091274
Griffin High School      71.788147
Hernandez High School    68.874865
Holden High School       72.583138
Huang High School        68.935207
Johnson High School      68.843100
Pena High School         72.088358
Rodriguez High School    72.047762
Shelton High School      72.034072
Thomas High School       69.581651
Wilson High School       69.170828
Wright High School       72.047222
Name: maths_score, dtype: float64

In [19]:
avg_reading_by_school=grouped_school["reading_score"].mean()
avg_reading_by_school

school_name
Bailey High School       71.008842
Cabrera High School      71.359526
Figueroa High School     69.077993
Ford High School         69.572472
Griffin High School      71.245232
Hernandez High School    69.186408
Holden High School       71.660422
Huang High School        68.910525
Johnson High School      69.039277
Pena High School         71.613306
Rodriguez High School    70.935984
Shelton High School      70.257808
Thomas High School       69.768807
Wilson High School       68.876916
Wright High School       70.969444
Name: reading_score, dtype: float64

In [20]:
grouped_passing_maths = school_data_complete[school_data_complete['maths_score']>=50].groupby(['school_name']).size()
percent_passing_maths = (grouped_passing_maths/total_student_by_school)*100
percent_passing_maths

school_name
Bailey High School       91.639871
Cabrera High School      90.850377
Figueroa High School     81.654798
Ford High School         82.438846
Griffin High School      91.212534
Hernandez High School    80.949299
Holden High School       89.929742
Huang High School        81.693521
Johnson High School      82.062592
Pena High School         91.683992
Rodriguez High School    90.797699
Shelton High School      91.538898
Thomas High School       83.853211
Wilson High School       82.785808
Wright High School       91.777778
dtype: float64

In [21]:
grouped_passing_reading = school_data_complete[school_data_complete['reading_score']>=50].groupby(['school_name']).size()
percent_passing_reading = (grouped_passing_reading/total_student_by_school)*100
percent_passing_reading

school_name
Bailey High School       87.379421
Cabrera High School      89.074273
Figueroa High School     82.807731
Ford High School         82.219788
Griffin High School      88.487738
Hernandez High School    81.877023
Holden High School       88.524590
Huang High School        81.453548
Johnson High School      81.978576
Pena High School         86.590437
Rodriguez High School    87.396849
Shelton High School      86.712095
Thomas High School       82.629969
Wilson High School       81.296540
Wright High School       86.666667
dtype: float64

In [22]:
percent_overall_passing = (percent_passing_maths + percent_passing_reading) / 2
percent_overall_passing

school_name
Bailey High School       89.509646
Cabrera High School      89.962325
Figueroa High School     82.231265
Ford High School         82.329317
Griffin High School      89.850136
Hernandez High School    81.413161
Holden High School       89.227166
Huang High School        81.573534
Johnson High School      82.020584
Pena High School         89.137214
Rodriguez High School    89.097274
Shelton High School      89.125497
Thomas High School       83.241590
Wilson High School       82.041174
Wright High School       89.222222
dtype: float64

In [23]:
school={
    'School Type': school_type,
    'Total Students':total_student_by_school,
    'Total School Budget':total_budget,
    'Per Student Budget':total_budget_per_student,
    'Average Math Score': avg_maths_by_school,
    'Average Reading Score': avg_reading_by_school,
    'Percent Passing Maths': percent_passing_maths,
    'Percent Passing Reading': percent_passing_reading,
    'Percent Overall Passing Rate': percent_overall_passing
}
school_summary = pd.DataFrame(school)

school_summary["Total School Budget"] = school_summary["Total School Budget"].map("${:,.2f}".format)
school_summary["Per Student Budget"] = school_summary["Per Student Budget"].map("${:,.2f}".format)
school_summary.head()

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,Percent Passing Maths,Percent Passing Reading,Percent Overall Passing Rate
school_name,,,,,,,,,
Bailey High School,Government,4976,"$3,124,928.00",$628.00,72.352894,71.008842,91.639871,87.379421,89.509646
Cabrera High School,Independent,1858,"$1,081,356.00",$582.00,71.657158,71.359526,90.850377,89.074273,89.962325
Figueroa High School,Government,2949,"$1,884,411.00",$639.00,68.698542,69.077993,81.654798,82.807731,82.231265
Ford High School,Government,2739,"$1,763,916.00",$644.00,69.091274,69.572472,82.438846,82.219788,82.329317
Griffin High School,Independent,1468,"$917,500.00",$625.00,71.788147,71.245232,91.212534,88.487738,89.850136

In [24]:
top_summary = school_summary.loc[school_summary['Percent Overall Passing Rate'] > 5]
top_summary.sort_values(['Percent Overall Passing Rate'], ascending=False).head()

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,Percent Passing Maths,Percent Passing Reading,Percent Overall Passing Rate
school_name,,,,,,,,,
Cabrera High School,Independent,1858,"$1,081,356.00",$582.00,71.657158,71.359526,90.850377,89.074273,89.962325
Griffin High School,Independent,1468,"$917,500.00",$625.00,71.788147,71.245232,91.212534,88.487738,89.850136
Bailey High School,Government,4976,"$3,124,928.00",$628.00,72.352894,71.008842,91.639871,87.379421,89.509646
Holden High School,Independent,427,"$248,087.00",$581.00,72.583138,71.660422,89.929742,88.524590,89.227166
Wright High School,Independent,1800,"$1,049,400.00",$583.00,72.047222,70.969444,91.777778,86.666667,89.222222

In [25]:
bottom_performing_schools = (school_summary.sort_values(['Percent Overall Passing Rate'], ascending=True)).head()
bottom_performing_schools

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,Percent Passing Maths,Percent Passing Reading,Percent Overall Passing Rate
school_name,,,,,,,,,
Hernandez High School,Government,4635,"$3,022,020.00",$652.00,68.874865,69.186408,80.949299,81.877023,81.413161
Huang High School,Government,2917,"$1,910,635.00",$655.00,68.935207,68.910525,81.693521,81.453548,81.573534
Johnson High School,Government,4761,"$3,094,650.00",$650.00,68.843100,69.039277,82.062592,81.978576,82.020584
Wilson High School,Independent,2283,"$1,319,574.00",$578.00,69.170828,68.876916,82.785808,81.296540,82.041174
Figueroa High School,Government,2949,"$1,884,411.00",$639.00,68.698542,69.077993,81.654798,82.807731,82.231265

In [26]:
spending_bins = [0, 585, 630, 645, 685]
group_names = ["<$585", "$585-630", "$630-645", "$645-680"]

In [27]:
school_summary["Per Student Budget"] = school_summary["Per Student Budget"].apply(lambda x: x.replace('$', '').replace(',', '')).astype('float')

In [28]:
school_summary = school_summary.reset_index()

In [29]:
school_summary["Spending Ranges (Per Student)"] = pd.cut(school_summary["Per Student Budget"], spending_bins, labels=group_names)

In [30]:
grouped_spend_df = school_summary.groupby(["Spending Ranges (Per Student)"])

In [31]:
spending_summary_df = grouped_spend_df.mean()

In [32]:
spending_summary_df[["Average Math Score",
                    "Average Reading Score",
                    "Percent Passing Maths",
                    "Percent Passing Reading",
                    "Percent Overall Passing Rate"]]

,Average Math Score,Average Reading Score,Percent Passing Maths,Percent Passing Reading,Percent Overall Passing Rate
Spending Ranges (Per Student),,,,,
<$585,71.364587,70.716577,88.835926,86.390517,87.613222
$585-630,72.065868,71.031297,91.518824,87.292423,89.405623
$630-645,69.854807,69.838814,84.686139,83.763585,84.224862
$645-680,68.884391,69.045403,81.568470,81.769716,81.669093

In [33]:
size_bins = [0, 1000, 2000, 5000]
group_names = ["Small (<1000)", "Medium (1000-2000)", "Large (2000-5000)"]

In [34]:
school_summary = school_summary.reset_index()

In [35]:
school_summary["School Size"] = pd.cut(school_summary["Total Students"], size_bins, labels=group_names)
grouped_size_df = school_summary.groupby(["School Size"])   
size_summary_df = grouped_size_df.mean()

# Display Summary
size_summary_df[["Average Math Score",
                "Average Reading Score",
                "Percent Passing Maths",
                "Percent Passing Reading",
                "Percent Overall Passing Rate"]]

,Average Math Score,Average Reading Score,Percent Passing Maths,Percent Passing Reading,Percent Overall Passing Rate
School Size,,,,,
Small (<1000),72.335748,71.636864,90.806867,87.557513,89.182190
Medium (1000-2000),71.421650,70.720164,89.846560,86.714149,88.280354
Large (2000-5000),69.751809,69.576052,84.252804,83.301185,83.776994

In [36]:
school_summary = school_summary.reset_index()
grouped_type_df = school_summary.groupby(["School Type"])              
type_summary_df = grouped_type_df.mean()

type_summary_df[["Average Math Score",
                "Average Reading Score",
                "Percent Passing Maths",
                "Percent Passing Reading",
                "Percent Overall Passing Rate"]]

,Average Math Score,Average Reading Score,Percent Passing Maths,Percent Passing Reading,Percent Overall Passing Rate
School Type,,,,,
Government,69.834806,69.675929,84.462375,83.587562,84.024969
Independent,71.368822,70.718933,89.204043,86.247789,87.725916

In [37]:
nineth = school_data_complete[school_data_complete['year'] == '9th']
tenth = school_data_complete[school_data_complete['year'] == '10th']
eleventh = school_data_complete[school_data_complete['year'] == '11th']
twelveth = school_data_complete[school_data_complete['year'] == '12th']
nineth_grouped = nineth.groupby(['school_name'])
tenth_grouped = tenth.groupby(['school_name'])
eleventh_grouped = eleventh.groupby(['school_name'])
twelveth_grouped = twelveth.groupby(['school_name'])
math_nineth_mean = nineth_grouped['maths_score'].mean()
math_tenth_mean = tenth_grouped['maths_score'].mean()
math_eleventh_mean = eleventh_grouped['maths_score'].mean()
math_twelveth_mean = twelveth_grouped['maths_score'].mean()

math_by_grade = {
    '9th': math_nineth_mean,
    '10th': math_tenth_mean,
    '11th': math_eleventh_mean,
    '12th': math_twelveth_mean
}

math_byGrade_df = pd.DataFrame(math_by_grade)
math_byGrade_df.head()

Empty DataFrame
Columns: [9th, 10th, 11th, 12th]
Index: []

In [38]:
nineth = school_data_complete[school_data_complete['year'] == '9th']
tenth = school_data_complete[school_data_complete['year'] == '10th']
eleventh = school_data_complete[school_data_complete['year'] == '11th']
twelveth = school_data_complete[school_data_complete['year'] == '12th']
nineth_grouped = nineth.groupby(['school_name'])
tenth_grouped = tenth.groupby(['school_name'])
eleventh_grouped = eleventh.groupby(['school_name'])
twelveth_grouped = twelveth.groupby(['school_name'])
reading_nineth_mean = nineth_grouped['reading_score'].mean()
reading_tenth_mean = tenth_grouped['reading_score'].mean()
reading_eleventh_mean = eleventh_grouped['reading_score'].mean()
reading_twelveth_mean = twelveth_grouped['reading_score'].mean()

reading_by_grade = {
    '9th': math_nineth_mean,
    '10th': math_tenth_mean,
    '11th': math_eleventh_mean,
    '12th': math_twelveth_mean
}

reading_byGrade_df = pd.DataFrame(reading_by_grade)
reading_byGrade_df.head()

Empty DataFrame
Columns: [9th, 10th, 11th, 12th]
Index: []